* {
  margin: 0;
}

body, html { 
  font-family: 'inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar__title {
  padding-top: 25px;
  color: white;
}

.navbar__logo {
  padding: 25px 12.5px;
  height: 35px;

}

nav {
  display: flex;
  justify-content: center;
  background-color: #F55A5A;
  height: 86px;
}

.card {
  display: flex;
  padding-top: 50px;
  padding-left: 100px;
}

.card__image {
  height: 300px;
  width: 223px;
}

.card__country {
  padding-left: 15px;
  padding-top: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

.card__arrow {
  padding-left: 25px;
  padding-top: 41px;
  height: 17px;
}

.card__link {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 40px;
  color: #918E9B;
}

